@keyframes fade {
  0% {
    opacity: 1.0
  }

  50% {
    opacity: 0.0
  }

  100% {
    opacity: 1.0
  }
}

.title {
  background-color: Salmon;
  text-align: center;
  padding: 15px;
  width: auto;
  height: auto;
}

body {
  background-color: white;
}

.nav-bar {
  background-color: Cyan;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-context {
  text-decoration: none;
}

.nav-context:hover {
  background-color: #ccffcc;
}

.logo1 {
  animation: fade;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back {
  display: inline-flex;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  background-color: lime;
  font-size: 40px;
}

.table {
  border-width: 1px;
  border-color: black;
  border-style: dotted;
  display: inline-flex;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.table-title {
  border-bottom: 1px dotted black;
}

.table-content {
  border-right: 1px dotted black;
}

.center-text {
  text-align: center;
}

#ld-mode {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}